PORT=3000 #Port to listen on (default 3000)
ROUTE= # Global route (default is /)
FRONTEND_URL= #Link to the frontend

MONGOURL= #MongoDB connection string (Starts with mongodb://)

SECRET= #Random string

#https://discord.com/developers/applications

DISCORD_TOKEN= #Discord token from "Bot" page
DISCORD_CLIENT_ID= #Discord client id
DISCORD_CLIENT_SECRET= #Discord client secret
DISCORD_REDIRECT= #Discord redirect url

# Rate limit configuration
RATE_LIMIT_TIME= #Window time in ms
RATE_LIMIT_MAX= #Max requests per window